

@media screen and (max-width: 767px){
    .collection-container{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }
    .collection-container h2{
        font-size:24px;
        text-align: center;
        color: #982876;
    }
    .collections{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15px 20px;
        width: 354px;
    }
    .collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 167px;
        height: 205px;
        background: #F9F9F9;
        border-radius: 21px;
        margin-top: 20px;
        cursor: pointer;
    }
    .collection .collection_img{
        margin-top: 21px;
        width: 109px;
        height: 66px;
    }
    .collection-title{
        padding-top: 12px;
        color: #982876;
        font-size: 15px;
    }
    .collection-description{
        color: #AEAEAE;
        text-align: center;
        font-size: 12px;
    }
    .price-details{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .price-details p{
        text-align: right;
        font-size: 8px;
        color: #982876;
    }
    .price-btn{
        /* font-family: 'Calibri'; */
        color: #982876;
        font-size: 20px;
        font-weight: bold;
    }
    .fa {
        font-size: 12px;
    }

    .demo-video{
        align-items: center;
        margin-top: 38px;
    }

    .demo-video iframe{
        width: 362px;
        height: 255px; 
        border-radius: 21px;
    }
    .highlights{
        margin-top: 37px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
    }
    .highlight-contents{
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }
    .heighlight-icon{
        width: 35px;
        height: 35px;
    }
    .highlight-contents p{
        text-align: center;
        font-size: 11px;
        color: #7B7B7B;
    }
}


 /* Desktop Responsive */



@media screen and (min-width: 767px){
    .collection-container{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }
    .collection-container h2{
        font-size:24px;
        text-align: center;
        color: #982876;
    }
    .collections{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 0px;
        row-gap: 30px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        margin: 15px 20px;
        width: 80%;
    }
    .collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: auto;
        /* background: #F9F9F9; */
        border-radius: 21px;
        margin-top: 20px;
        cursor: pointer;
    }
    .collection .collection_img{
        margin-top: 21px;
        width: 150px;
        height: 110px;
        object-fit: cover;
    
    }
    .collection-title{
        padding-top: 12px;
        color: #982876;
        font-size: 16px;
        line-height: 24px;
    }
    .collection-description{
        color: #AEAEAE;
        text-align: center;
        font-size: 12px;
    }
    .price-details{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 25px;
    }
    .price-details p{
        text-align: center;
        font-size: 12px;
        color: #982876;
    }
    .price-btn{
        /* font-family: 'Calibri'; */
        font-family: system-ui;
        color: #982876;
        font-size: 20px;
        font-weight: bold;
    }
    .fa {
        font-size: 12px;
    }

   

  
  
  
}



