@media screen and (min-width: 767px){

    .checkout-item-layout{
        display: flex;
    }
    .checkout-item-image{
    width: 150px;
    height: 150px;
    object-fit: contain;
    }

    .product-image{
        width: 230px;
        height: 230px;
        border-radius:21px;
        object-fit: contain;
    }
    .product-cart{
        margin-top: 20px;
        margin-left: 18px;
        position: relative;
        /* width:100% ; */
    }
    
    .product-cart h3{
        font-size: 20px;
        color: #982876;
        text-align: center;
        line-height: 22px;
        font-weight: bold;
    }

    .product_card{
        margin-top: 31px;
        width: 230px;
        display: flex;
        flex-direction: column;
    }

    .product-img{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .product-img i{
        position: absolute;
        font-size: 18px;
        color: #982876;
        bottom: 15px;
        left: 15px;
    }

    .product-title{
        margin-top: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-title h2{
        font-size: 16px;
        color: #000000;
        /* padding-left: 14px; */
    }

    .product-title i{
        color: #982876;
        font-size: 20px;
        padding-right: 15px;
    }
    .product-description{
        text-align: left;
        /* padding-left: 14px; */
        font-size: 13px;
        color: #AEAEAE;
    }
    .price-details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* padding-left: 14px; */
    }

    .Current-price{
        display: flex;
        flex-direction: column;
    }
    .Current-price p{
        font-size: 10px;
        color: #982876;
    }
    .Current-price a{
        /* position: absolute; */
        padding-top: 13px;
        color: #982876;
        font-size: 26px;
        font-weight: bold;
    }

    .Current-price i{
        font-size: 18px;
        font-weight: normal;
    }
    .mrp-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 22px;
        gap: 4px;
        margin-right: 10px;
    }
    .mrp-price .mrp-rate{
        font-size: 10px;
        font-weight: bold;
        color: #000000;
    }
    .mrp-rate s{
        font-size: 14px;
        font-weight: bold;
    }
    .mrp-price .offer-percentage{
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 5px;
        color: #992876;
    }
    

}




@media screen and (max-width: 767px){
    .product-image{
        width: 230px;
        height: 230px;
        border-radius:21px;
        object-fit: contain;
    }
    .product-cart{
        margin-top: 20px;
        margin-left: 18px;
        position: relative;
        /* width:100% ; */
    }
    
    .product-cart h3{
        font-size: 20px;
        color: #982876;
        text-align: center;
        line-height: 22px;
        font-weight: bold;
    }

    .product_card{
        margin-top: 31px;
        width: 230px;
        display: flex;
        flex-direction: column;
    }

    .product-img{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .product-img i{
        position: absolute;
        font-size: 18px;
        color: #982876;
        bottom: 15px;
        left: 18px;
    }

    .product-title{
        margin-top: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-title h2{
        font-size: 20px;
        color: #000000;
        padding-left: 14px;
    }

    .product-title i{
        color: #982876;
        font-size: 20px;
        padding-right: 15px;
    }
    .product-description{
        text-align: left;
        /* padding-left: 14px; */
        font-size: 13px;
        color: #AEAEAE;
    }
    .price-details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* padding-left: 14px; */
    }

    .Current-price{
        display: flex;
        flex-direction: column;
    }
    .Current-price p{
        font-size: 10px;
        color: #982876;
    }
    .Current-price a{
        /* position: absolute; */
        padding-top: 13px;
        color: #982876;
        font-size: 26px;
        font-weight: bold;
    }

    .Current-price i{
        font-size: 18px;
        font-weight: normal;
    }
    .mrp-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 22px;
        gap: 4px;
        margin-right: 10px;
    }
    .mrp-price .mrp-rate{
        font-size: 10px;
        font-weight: bold;
        color: #000000;
    }
    .mrp-rate s{
        font-size: 14px;
        font-weight: bold;
    }
    .mrp-price .offer-percentage{
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 5px;
        color: #992876;
    }
    

}

.swiper-3d .swiper-slide-shadow-left{
background: none !important;
}

.swiper-3d .swiper-slide-shadow-right{
    background: none !important;

}



.As-Main-Container{

}
.As-Main-Container h5{
    color: #982876;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

}
.As-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.As-content{
    background: #d9d9d95e;
    width: 60%;
    /* padding: 14px; */
    padding: 16px 10px;
    text-align: center;
    border-radius: 21px;
    color: #747474;
    font-size: 16px;
    font-weight: bold;
}

.As-Item_IMG_CONTENT{
    padding: 16px 10px;
}
.As-item img{
    width: 45px;
    height: auto;

}
.As-Main-Container i{
    color: rgb(153, 40, 118);
    font-size: 22px;
    margin-right: 4px;
    margin-left: 20px;
    margin-top: 25px;
}

.As-Main-Container b{
    color: rgb(153, 40, 118);
    font-size: 20px;
    margin-top: 25px;
    text-decoration: underline;
}


.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }



  @media screen and (min-width: 767px){

    .cont-container{
        display:flex;
        align-items:center;
        justify-content:center;
    }

  .content_contact{
    
    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 50px;
    width: 85%;
    font-size: 16px;
    line-height: 28px;
  }
  .Cont-img{
    display: flex;
        align-items: center;
        justify-content: center;
        background: #992876;
        padding: 15px 25px;
        border-radius: 50px;
        font-size: 28px;
        margin-left: 30px;
 
   }
}

/*for Mobile */
@media screen and (max-width: 767px){


    .checkout-item-image{
        width: 300px !important;
        height: 300px !important;
        object-fit: contain;
        }
    .checkout-item-layout{
        display: block;
    }

    .content_contact{
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
  
        border-radius: 50px;
        width: 85%;
        font-size: 20px;
        line-height: 28px;
      }
    
      .cont-container{
        display:flex;
        align-items:center;
        justify-content:center;
       }
       .Cont-img{
        display: flex;
    align-items: center;
    justify-content: center;
    background: #992876;
    padding: 15px 25px;
    border-radius: 50px;
    /* font-size: 28px; */
    margin-top: 20px;

       }

}


.t-bq-quote-emma {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    background: #ffffff;
    padding: 0!important;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 2px 2px 25px #cecece;
}

.t-bq-quote-emma .t-bq-quote-emma-qmark {
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Garamond, Georgia, serif;
    font-size: 3em;
    color: #666666;
    line-height: 60px;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    border-top: 2px solid #eeeeee;
}

.t-bq-quote-emma .t-bq-quote-emma-qmark span {
    padding-top: 0.25em;
}

.t-bq-quote-emma .t-bq-quote-emma-userpic {
    flex-basis: 150px;
    width: 150px;
    min-width: 150px;
    max-height: 300px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.t-bq-quote-emma .t-bq-quote-emma-base {
    flex-basis: calc(100% - 150px);
    padding: 60px 30px 45px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-bq-quote-emma .t-bq-quote-emma-base .t-bq-quote-emma-text {
    font-size: 0.85em;
    line-height: 1.8em;
    flex-grow: 0;
    flex-shrink: 0;
}

.t-bq-quote-emma .t-bq-quote-emma-base .t-bq-quote-emma-text:after {
    content: "\2014\00A0" attr(cite);
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-top: 10px;
}


.product-cart-image{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin-right: 11.25pt;
    width: 6.5625pc;
    vertical-align: top;
    height: 230px;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-emma {
        flex-direction: column;
    }

    .t-bq-quote-emma .t-bq-quote-emma-base {
        padding-top: 0;
    }

    .t-bq-quote-emma .t-bq-quote-emma-userpic {
        border-radius: 20px;
        height: 150px;
        margin: 40px auto 20px auto;
    }

    .t-bq-quote-emma .t-bq-quote-emma-base .t-bq-quote-emma-text {
        font-size: 1em;
    }
}