.carousel-root {
    width: 64% !important;
    margin: auto !important;
    margin-top: 3% !important;
}

.carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
    
}

.card-image img {
    width: 100%;

    position: relative;
}



.myCarousel {
    margin-top: -4%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

.myCarousel h3 {
    color: #222;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    color: #787878;
    font-size: 14px;
}

.myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #222222bf;
    font-size: 15px;
    /* font-family: sans-serif; */
    max-height: 67px;
}

.myCarousel p:before {
    content: "“";
    color: #982876;
    font-size: 26px;
    /* font-family: monospace; */
    font-weight: 100;
}

.myCarousel p:after {
    content: "”";
    color: #982876;
    font-size: 26px;
    /* font-family: monospace; */
    font-weight: 100;
    line-height: 0;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #982876 !important;
    outline: 0;
}

.carousel.carousel-slider .control-arrow {
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
}

.App {
    text-align: center;
}

@media only screen and (max-width: 934px) {


    

   .product-section{
      margin-top:20px

    }
    .carousel-root {
        outline: 0;
        width: 93% !important;
        margin: auto !important;
    }

    .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    .myCarousel {
        margin-top: -4%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
        padding-bottom: 4%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel .slide img {
        width: 125px !important;
        height: 125px !important;
        border-radius: 50%;
    }
}


.demo {

    width: 90% !important;
    margin: auto !important;
    margin-top: 3% !important;
}

.image_resize {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0%;
}

.download_pdf {
    color: #812d77 !important;
    font-weight: bold !important;
}


@media (max-width:700px) {

    .axis-horizontal {
        margin-bottom: 70px !important;
    }

    .happy-font{
        font-size: 1.5rem;
        font-size: 1.5rem;
        margin-left: 10px;
        margin-top: 10px;
    }
    .Font-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .gif-image-test{
        width: 50px;
        height: 50px;
    }
    .Paragrah-test{
        text-align: center;
    }
}

@media (min-width:700px) {

    .axis-horizontal {
        margin-bottom: 40px !important;
    }

    .happy-font{
        font-size: 3.5rem;
    }

    .gif-image-test{
        width: 120px;
       
    }
}

.card-test {
    /* margin: auto;
    width: 40%;
    max-width: 600px; */
    /* box-shadow: 0 6px 20px 0 rgba(61, 61, 61, 0.19); */
    /* border-top: 3px solid rgb(152 40 118);
    border-bottom: 3px solid rgb(152 40 118); */
    border-left: none;
    border-right: none;

    background: #f9f9f9;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    border-radius: 25px;
    /* color: #ffffff;
    font-size: 16px;
    text-align: left; */
    


}

.card-test p{
    text-align: justify;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
}

.card-title {
  font-weight: 300;
  font-size: 2rem;
}
.product-card .card-test {
  /* margin: 20px; */
  overflow: hidden;
}
.product-card .card-test .card-content {
  padding: 5px;
}
.product-card .card-test .price {
  width: 70px;
  height: 70px;
  font-weight: 600;
  font-size: 1.45rem;
  line-height: 70px;
  margin: 10px;
  position: absolute;
  top: 0;
  letter-spacing: 0;
}
.product-card ul.card-action-buttons {
  margin: -18px 7px 0 0;
  text-align: right;
}
.product-card ul.card-action-buttons li {
  display: inline-block;
  padding-left: 7px;
}
.product {
  width: 20%;
  padding: 10px;
}
.product .card-test {
  margin: 0;
}
.product .card-test .card-content {
  padding: 5px 10px;
}